<div class="container">
  <div class="row">
    <h3>Books</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <%= render book %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
